body {
    background-color: black;
}

div {
    background: red;
    width: 150px;
    margin: auto;
    text-align: center;
}

div {
    /*border-width: 5px;
    border-color: black;
    border-style: solid;*/
    border: 3px solid black;
    border-radius: 4px;
}

input {
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-top: 1px solid white;
    background: transparent;
    border-left: 1px solid whitesmoke;
    color: greenyellow;
}