:root {
    color: #999;
}

h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/* Cuando pasamos el mouse encma del componente*/
h1:hover {
    color: #000;
    background-color: #ccc;
}

/* Cuando damos click sobre el componente*/
h1:active {
    background-color: #999;
    color: #fff;
}

/* Seleccionando el primer elemento*/
li:first-child {
    color: red;
}

li:nth-child(3n){
    color: green;
}

/*Seleccionando el ultimo elemento*/
li:last-child {
    color: blue;
}

.lista li:not(.excluir) {
    color: #0ee;
}

div {
    border: 2px solid black;
}
div:empty {
    border: none;
    padding: 30px;
}

input[type="checkbox"] {
    margin: 50px;
}

input[type="checkbox"]:checked {
    margin: 0;
}

/* Enlace visitado*/
:visited {
    color: blueviolet;
}

/* Enlace no visitado*/
a:link {
    color: red;
}